[run]
omit =
  setup.py
  version.py
  indykite_sdk/api.py
  indykite_sdk/example.py
  indykite_sdk/indykite/*
  indykite_sdk/validate/*
  indykite_sdk/identity/helper.py
  indykite_sdk/config/helper.py
  indykite_sdk/config/get_schema.py
  indykite_sdk/model/unique_name_identifier.py
  indykite_sdk/model/email_attachment.py
  indykite_sdk/model/import_digital_twin.py
  indykite_sdk/model/get_schema.py
  indykite_sdk/utils/hash_methods.py
  indykite_sdk/utils/message_to_value.py
  indykite_sdk/utils/logger.py
  tests/*
  examples/*

[report]
exclude_lines =
    pragma: no cover
    def deserialize
    def __init__
    def __str__

show_missing = true
