[run]
omit =
  setup.py
  version.py
  indykite_sdk/api.py
  indykite_sdk/api_helper.py
  indykite_sdk/ingest.py
  indykite_sdk/indykite/*
  indykite_sdk/validate/*
  indykite_sdk/buf/*
  indykite_sdk/gnostic/*
  indykite_sdk/identity/helper.py
  indykite_sdk/model/unique_name_identifier.py
  indykite_sdk/model/data_access.py
  indykite_sdk/model/email_attachment.py
  indykite_sdk/identity/consent.py
  indykite_sdk/utils/*
  tests/*
  examples/*
  prepare_docs/*

[report]
exclude_lines =
    pragma: no cover
    def deserialize
    def __init__
    def __str__

show_missing = true
