[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
indykite-sdk-python = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
respx = "*"
ruff = "*"
pylint = "*"

[requires]
python_version = "3.14"
