[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
ipaddress = "*"
validate-email = "*"
jinja2 = "*"
markupsafe = "*"
mock = "*"
grpcio = "*"
protobuf = "*"
indykite-sdk-python = {editable = true, path = "."}
requests = "*"
pytest = "*"
pytest-cov = "*"
authlib = "*"
grpcio-tools = "*"
urllib3 = "*"
numpy = "*"

[requires]
python_version = "3.11"
