<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>SDK spaces example</title>
  <link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/fontawesome.min.css"  />
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body>
  <section id="logo">
    <div class="container text-center">
      <h1>Spaces example</h1>
    </div>
  </section>
  <section id="example">
    <div class="container">
      <div class="row vertical-align">
        <div class="col-12">
            <h3>Create Application, AppAgent, AppAgent Credentials </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="example-directions">
            {% for message in get_flashed_messages() %}
              <h2>{{ message }}</h2>
            {% endfor %}
           <form method="post">
              <label for="app_space_id">AppSpace GID id </label>
              <br>(can be found in the AppSpace object created at step 1)
              <br>
              <input type="text" name="app_space_id"
                     placeholder="AppSpace id"
                     value="{{ request.form['app_space_id'] }}"></input>
              <br><br>
             <label for="tenant_id">Tenant GID id </label>
              <br>(can be found in the Tenant object created at step 2)
              <br>
              <input type="text" name="tenant_id"
                     placeholder="Tenant id"
                     value="{{ request.form['tenant_id'] }}"></input>
              <br><br>
             <label for="application_name">Application display name</label>
              <br>
              <input type="text" name="application_name"
                     placeholder="Application display name"
                     value="{{ request.form['application_name'] }}"></input>
              <br><br>
             <label for="application_agent_name">Application agent name</label>
              <br>
              <input type="text" name="application_agent_name"
                     placeholder="Application agent name"
                     value="{{ request.form['application_agent_name'] }}"></input>
              <br><br>
             <label for="application_agent_credentials_name">Application agent credentials name</label>
              <br>
              <input type="text" name="application_agent_credentials_name"
                     placeholder="Application agent credentials name"
                     value="{{ request.form['application_agent_credentials_name'] }}"></input>
              <br>

              <button type="submit">Submit</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 text-center">
          <h3></h3>
          <div class="footer-about">
          </div>
        </div>
        <div class="col-md-6 col-sm-12 text-center">
          <div class="footer-author">

          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
