---
name: Release
concurrency: sdk-release

on: # yamllint disable-line rule:truthy
  release:
    types:
      - published

env:
  BIGQUERY_TABLE: ${{ secrets.GCP_PROJECT_ID_MGMT }}.deployment_analytics.deployment_events

permissions:
  contents: "read"
  id-token: "write"

jobs:
  release:
    name: Release SDK to pypi repository
    runs-on: ubuntu-latest
    steps:
      - name: actions/checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5.0.1 - https://github.com/actions/checkout/releases

      - name: setup/python3
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0 - https://github.com/actions/setup-python/releases
        with:
          python-version: "3.14"
          cache: "pipenv"

      - name: setup/pipenv
        run: |
          pipx install pipenv
          pipenv install

      - name: Build
        run: |
          pipenv run python setup.py sdist bdist_wheel

      - name: Publish a Python package to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0 - https://github.com/pypa/gh-action-pypi-publish/releases
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}

      - name: setup/node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0 - https://github.com/actions/setup-node/releases
        with:
          node-version: "latest"
          registry-url: "https://registry.npmjs.org"

      - name: Get Version
        run: |
          VERSION="$(jq -r '."."' .release-please-manifest.json)"
          echo "VERSION=$VERSION" >> "$GITHUB_ENV"

      - name: gcloud/auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0 - https://github.com/google-github-actions/auth/releases
        id: auth
        if: ${{ always() }}
        with:
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDP }}
          service_account: github@${{ secrets.GCP_PROJECT_ID_MGMT }}.iam.gserviceaccount.com
