name: Release
concurrency: sdk-release

on:
    release:
        types:
            - published

env:
    BIGQUERY_TABLE: jarvis-dev-268314.deployment_analytics.deployment_events

jobs:
  release:
    name: Release SDK to pypi repository
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install pipenv
        run: pipx install pipenv
      - uses: actions/setup-python@v3
        with:
          python-version: "3.8"
          cache: "pipenv"
      - name: Install
        run: pipenv install
      - name: Build
        run: |
          pipenv run python setup.py sdist bdist_wheel
      - name: Publish a Python package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
      - uses: actions/setup-node@v2
        with:
          node-version: "12.x"
          registry-url: "https://registry.npmjs.org"
      - name: Install CU tool
        run: npm install -g clickup-simple-cli
      - name: Get Version
        run: |
          export VERSION=$(cat .release-please-manifest.json | jq -r '."."')
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - name: Create CU task
        env:
          CU_list: "186335199"
          CU_token: ${{ secrets.CLICKUPPAT }}
          APP_NAME: "Python SDK"
          APP_TAG: "jarvis-sdk-python"
        run: |
          CU_tags="$APP_TAG,$VERSION" cu-cli create -d "Release of $APP_NAME available here: https://pypi.org/project/$APP_TAG/$VERSION/" "$APP_NAME - release $VERSION"

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v0
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_KEY }}
      - name: Checkout Analytics Repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT_TOKEN }}
          repository: indykite/analytics-prototype
          ref: v1.0.1
          path: deployment-analytics
      - name: Save Deployment Metadata
        if: ${{ always() }}
        uses: ./deployment-analytics
        with:
          version: ${{ env.VERSION }}
          status: ${{ job.status }}
          bigquery_table: ${{ env.BIGQUERY_TABLE }}

