name: Tests
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

concurrency:
  group: pr-${{ github.ref }}
  cancel-in-progress: true

env:
  INDYKITE_APPLICATION_CREDENTIALS: ${{ secrets.JARVIS_CREDENTIALS }}
  INDYKITE_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.JARVIS_ACCOUNT_CREDENTIALS }}


jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install pipenv
        run: pipx install pipenv
      - uses: actions/setup-python@v3
        with:
          python-version: "3.10"
          cache: "pipenv"
      - name: Install project
        run: pipenv install
      - name: Run tests
        run: pipenv run pytest
      - name: Run script
        run:
          pipenv run pytest --cov . --cov-report xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          flags: unittests
          files: coverage.xml
